<div class="container">
  <form>
    <div class="form-group">
      <label for="title-input">Tytuł</label>
      <input type="text" [(ngModel)]="title"  [ngModelOptions]="{standalone: true}" class="form-control" id="title-input" placeholder="Podaj tytuł">
    </div>
    <div class="form-group">
      <label for="description-input">Opis</label>
      <textarea rows="10" cols="50" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="form-control" id="description-input" placeholder="Podaj opis">
      </textarea>
    </div>
    <div class="form-group">
      <label for="author-input">Autor</label>
      <input type="text" class="form-control" [(ngModel)]="author" [ngModelOptions]="{standalone: true}" id="author-input" placeholder="Podaj autora">
    </div>
    <div class="form-group">
        <label for="date-input">Data opublikowania</label>
        <input type="date" class="form-control" [(ngModel)]="publishedOn" [ngModelOptions]="{standalone: true}" id="date-input">
    </div>
    <div class="form-group">
        <label for="date-input">Kategoria</label>
        <select [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let category of categories" [ngValue]="category">{{Category[category]}}</option>
        </select>
    </div>
    <div class="form-group">
      <label for="image-input">Link do zdjęcia</label>
      <input type="text" [(ngModel)]="imageUrl" [ngModelOptions]="{standalone: true}" class="form-control" id="image-input" placeholder="Podaj link">
    </div>
    <div class="form-group">
      <label for="price-input">Cena</label>
      <input type="number" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" class="form-control" id="price-input" placeholder="Podaj cene">
    </div>
    <div class="form-group">
      <label for="tag-input">Tagi</label>
      <input type="text" [(ngModel)]="tags" [ngModelOptions]="{standalone: true} "class="form-control" id="tag-input" placeholder="Podaj tagi. Oddzielone przecinkami">
    </div>
    <button type="submit" (click)="create()" class="btn btn-primary">Stwórz</button>
  </form>
</div>
