.description{
    text-align: justify;
    text-decoration-line: initial;
}

.container-inner {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.details {
    padding-top: 0.3rem;
    font-size: 0.9rem;
    font-style: italic;
}