<div class="container-inner">
  <h3>
    Title: {{Item.Title}}
  </h3>
  <div class="description">
    {{Item.Description}}
  </div>
  <div class="details">
    Author: {{Item.Author}}
  </div>
  <div class="details">
    Category: {{Item.Category}}
  </div>
  <div class="details">
    Price: {{Item.Price}}
  </div>
  <div class="details">
    Published on: {{Item.PublishedOn}}
  </div>
  <div class="details">
    Tags: {{Item.Tags}}
  </div>
  <a [href]="Item.ImageUrl">Zdjęcie
  </a>
</div>
