.main-header {
    width: 100%;
    background-color: white;
    font-size: 2rem;
    padding: 10px;
    margin-left: -10px;
    margin-top: -10px;
    border-bottom: 500rem;
    box-shadow: 0 2px 5px hsla(0,0%,9%,.1);
}

.navbar-header {
    width: 80%;
    float: right;
    margin-right: 10%;
    background-color: #1f1f7b;
    color: white;
    height: 3rem;
    margin-bottom: 2%;
}

.nav-item {
    display: inline-block;
    padding: 24p 23px;
    font-weight: 700;
    font-size: 1rem;
    font-family: Arial,Vardana,Tahoma,sans-serif;
    height: 100%;
}
a {
    cursor: pointer;
    padding-top: 50%;
    color: white;
    text-decoration: none!important;
    margin-top: 0.7rem;
}