<header class="main-header">
  <span routerLink="/home">Biblioteka</span>
</header>

<div class="navbar-header">
  <div class="nav-item">
    <a routerLink="/create">
        Stwórz przedmiot
    </a>
  </div>
</div>