/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.container {
    width: 80%;
    float: right;
    margin-right: 10%;
    background-color: white;
    color: black;
}