
<div class="container">
    <div *ngFor="let item of Items">
        <app-item-preview
        [Item]="item">

        </app-item-preview>
    </div>
    <hr>
    <span (click)="sortByPrice()">Sortuj {{priceSortOrderString}} po cenie</span>
    <br>
    <span (click)="sortByTitle()">Sortuj {{titleSortOrderString}} po tytule</span>
    <ul class="pagination">
        <li *ngFor="let dummy of ' '.repeat(numberOfPages).split(''), let x = index">
            <button (click)="changePage($event)">{{x+1}}</button>
        </li>
    </ul>
</div>  