
.pagination {
    list-style-type: none;
}

li {
    float: left;
    margin-right: 0.5rem;
}
button {
    border: 0ch;
    background-color: white;
    color: #1f1f7b;
}

button:hover {
    cursor: pointer;
}